@use '../abstracts/breakpoints/mq' as breakpoints;

.page-header {
  position: absolute;
  top: 0;
  z-index: 1;
  min-width: 100%;
  padding-block-start: 0.875em;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  @include breakpoints.mq($from: medium) {
    padding-block-start: 3em;

    &__container {
      align-items: center;
      justify-content: space-between;
    }
  }
}