@use '../abstracts/breakpoints/mq' as breakpoints;

.container {
  max-width: 1244px;
  padding-inline: 1.25em;
  margin-inline: auto;

  @include breakpoints.mq($from: medium) {
    padding-inline: 2em;
  }

  @include breakpoints.mq($from: x-large) {
    padding-inline: 0;
  }
}