@use '../abstracts/breakpoints/mq' as breakpoints;

.btn {
  background-color: transparent;
  cursor: pointer;
  
  &--menu {
    height: 34px;
    margin-inline-end: .3em;
  }

  &--submit {
    padding-block: .7em;
    font-size: var(--fs-xl);
    font-weight: 700;
    background-color: var(--bg-btn-submit);
  }

  &--dismiss {
    display: block;
    margin-inline-start: auto;
  }

  &--confirm {
    display: block;
    padding-inline: 2em;
    padding-block: .625em;
    margin-inline: auto;
    border-radius: var(--br-action);
    font-weight: 600;
    color: var(--clr-action);
    background-color: var(--bg-btn-action);
  }

  @include breakpoints.mq($from: medium) {

    &--menu {
      display: none;
    }

    &--submit {
      padding-block: 1em;
      padding-inline: 3.125em;
    }
  }

  @include breakpoints.mq($from: large) {

    &--confirm {
      transition: background-color var(--delay);

      &:hover {
        background-color: var(--clr-content);
      }
    }
  }
}