.section {
  padding-block-start: 3.5em;

  &__content {
    text-align: center;
    margin-block-end: 3.25em;

    &--desktop {
      display: none;
    }
  }
  
  &__heading {
    padding-inline: .3em;
    margin: 0;
    margin-block-end: .9em;
    font-size: var(--fs-h2);
    font-weight: 700;
  }

  &__description {
    padding-inline: .22em;
    margin: 0;
    letter-spacing: var(--track-intro);

    &--light {
      color: var(--clr-intro);
    }
  }
}