@use '../abstracts/breakpoints/mq' as breakpoints;

.section {
  padding-block-start: 3.5em;

  &__content {
    text-align: center;
    margin-block-end: 3.25em;
  }
  
  &__heading {
    padding-inline: .3em;
    margin: 0;
    margin-block-end: .9em;
    font-size: var(--fs-h2);
    font-weight: 700;
  }

  &__description {
    padding-inline: .22em;
    margin: 0;
    letter-spacing: var(--track-intro);

    &--light {
      color: var(--clr-intro);
    }
  }

  &__quote {
    display: block;
    padding-inline: 3.2em;
    quotes: none;
    color: var(--clr-intro);

    &::after,
    &::before {
      content: '';
    }
  }

  @include breakpoints.mq($from: medium) {
    padding-block-start: 5.5em;

    &__heading {
      padding-inline: 0;
    }

    &__description {
      padding-inline: 4.2em;
    }
  }
}