@use '../abstracts/breakpoints/mq' as breakpoints;

.section {
  padding-block-start: 3.5em;

  &__content {
    text-align: center;
    margin-block-end: 3.25em;
  }
  
  &__heading {
    padding-inline: .3em;
    margin: 0;
    margin-block-end: .9em;
    font-size: var(--fs-h2);
    font-weight: 700;
  }

  &__description {
    padding-inline: .22em;
    margin: 0;
    letter-spacing: var(--track-intro);
  }

  @include breakpoints.mq($from: medium) {
    padding-block-start: 5.5em;

    &__heading {
      padding-inline: 0;
    }

    &__description {
      padding-inline: 4.2em;
    }
  }

  @include breakpoints.mq($from: large) {
   
    &__description {
      padding-inline: 12em;
    }
  }

  @include breakpoints.mq($from: x-large) {
    padding-block-start: 6em;

    &__content {
      padding-inline-start: 6.65em;
      text-align: left;
    }

    &__heading {
      margin-block-end: 1.75em;
    }

    &__description {
      padding-inline: 0;
    }
  }
}