.modal {
  border: none;
  color: var(--clr-content);
  background-color: var(--bg-section);

  &__btn-close {
    transform: rotate(45deg);
  }

  &__container {
    padding-block: 1em;

    &--menu {
      padding: 1.5em;
    }
  }

  &__content {
    padding-inline: 1.75em;
    margin-block-end: 1.75em;
  }

  &__heading {
    padding-inline: 0;
  }

  &__description {
    padding-inline: 0;
    color: var(--clr-intro);
  }

  &__description + &__description {
    margin-block-start: 1em;
  }

  &__opened {
    overflow: hidden;
  }
}