@use '../abstracts/mixins';
@use '../abstracts/breakpoints/mq' as breakpoints;

.navbar {

  &--desktop {
    display: none;
  }
  
  &__container {
    @include mixins.reset_list;

    &--modal {
      text-align: center;
    }
  }

  &__item + &__item {
    margin-block-start: 1.875em;
  }

  @include breakpoints.mq($from: medium) {

    &--desktop {
      display: block;
    }

    &__container {
      
      &--desktop {
        display: flex;
        align-items: center;
        gap: 1.25em;
      }
    }
  }

  @include breakpoints.mq($from: large) {

    &__container {
      
      &--desktop {
        gap: 1.875em;

        & > li:last-child {
          margin-inline-start: .25em;
        }
      }
    }

    &__link {
      transition: opacity var(--delay);

      &:hover {
        opacity: .8;
      }
    }
  }

  @include breakpoints.mq($from: x-large) {

    &__link {
      font-family: 'Open Sans';
      font-weight: 600;
    }
  }
}