.details {
  margin-block-end: .875em;

  &__list {
    display: grid;
    grid-template-columns: 120px 160px;
    row-gap: 1.6em;
    column-gap: 1.25em;    
    text-align: center;
    margin-block-end: 1.32em;
    margin-inline-start: 1.25em;

    &--desktop {
      display: none;
    }
  }

  &__heading {
    font-family: 'Open Sans';
    font-size: var(--fs-points);
    font-weight: 700;
    line-height: var(--lead-points);
    letter-spacing: var(--track-points);
  }

  &__lowercase {
    margin-inline-start: -0.4em;
    font-family: 'Raleway';
    font-size: var(--fs-h3);
    font-weight: 500;
  }

  &__subheading {
    font-weight: 500;
    color: var(--clr-intro);
  }

  &__sub {
    bottom: 0;

    &::after {
      content: '$';
      padding-inline-start: 2px;
      font-family: 'Raleway';
      font-size: var(--fs-xl);
      font-weight: 500;
    }
  }

  &__image {
    position: relative;
    max-width: 294px;
    padding-inline-start: 1em;
  }

  &__caption {
    position: absolute;
    bottom: 3.25em;
    right: 3.25em;

    &::before {
      content: '•';
      vertical-align: middle;
      font-size: x-large;
      line-height: 0;
    }
  }
}