@use '../abstracts/breakpoints/mq' as breakpoints;

.features {
  padding-block-end: 3.2em;
  background-color: var(--bg-section);

  &__content {
    margin-block-end: 3.8em;
  }

  &__heading {
    margin-block-end: 1.5em;
  }

  &__line-break {
    display: none;
  }

  &__list {
    text-align: center;
  }

  &__item + &__item {
    margin-block-start: 5.7em;
  }

  &__image {
    margin-inline: auto;

    &--environment {
      width: 58px;
      height: 54px;
      margin-block-end: 1.1em;
    }

    &--equality {
      margin-block-end: .25em;
    }

    &--solidarity {
      margin-block-end: .14em;
    }
  }

  &__subheading {
    margin: 0;
    margin-block-end: 0.65em;
    font-size: var(--fs-h3);
    font-weight: 700;
  }

  &__description {
    padding-inline: 1.2em;
    margin: 0;
    color: var(--clr-intro);
  }

  &__item:nth-child(2) {

    > .features__description {
      padding-inline: 1.53em;
    }
  }

  &__item:not(:first-child) {

    > .features__description {
      letter-spacing: var(--track-intro);
    }
  }

  @include breakpoints.mq($from: medium) {
    padding-block-end: 5.5em;

    &__item:nth-child(2) {

      > .features__description {
        padding-inline: 10em;
      }
    }

    &__description {
      padding-inline: 10em;
    }
  }

  @include breakpoints.mq($from: large) {

    &__list {
      display: grid;
      grid-auto-flow: column;
      gap: 5em;
    }

    &__item + &__item {
      margin-block-start: 0;
    }

    &__item:nth-child(2) {

      > .features__description {
        padding-inline: 1em;
      }
    }

    &__description {
      padding-inline: 1em;
    }
  }

  @include breakpoints.mq($from: x-large) {
    padding-block-start: 5.25em;
    padding-block-end: 2.65em;
    background-color: unset;

    &__lead {
      font-size: var(--fs-xl);
      padding-inline-end: 18em;
    }

    &__line-break {
      display: block;
    }

    &__content {
      margin-block-end: 8.1em;
    }

    &__list {
      text-align: left;
      margin-inline-start: 6.55em;
    }

    &__item:nth-child(2) {
      order: 1;
      transform: translateX(-35px);

      > .features__description {
        padding-inline-start: 0;
        padding-inline-end: 1em;
      }
    }

    &__image {
      margin-inline-start: 0;

      &--environment {
        width: 70px;
        height: 70px;
      }

      &--equality {
        width: 60px;
        height: 77px;
        margin-block-end: .75em;
      }

      &--solidarity {
        width: 92px;
        height: 90px;
      }
    }

    &__subheading {
      margin-block-end: .8em;
    }

    &__description {
      padding-inline-start: 0;
      padding-inline-end: 1.25em;
      font-size: var(--fs-md);
    }
  }
}