@use '../abstracts/breakpoints/mq' as breakpoints;

.photoreport {
  padding-block-start: 3em;
  background-color: var(--bg-section);

  &__content {
    margin-block-end: 2.25em;
  }

  &__heading {
    margin-block-end: .8em;
  }

  &__line-break {
    display: none;
  }

  &__quotemarks {
    display: none;
  }

  &__quote {
    display: block;
    padding-inline: 3.2em;
    quotes: none;
    color: var(--clr-intro);

    &::after,
    &::before {
      content: '';
    }
  }

  &__modal {
    display: none;
  }

  &__gallery {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      min-height: 100px;
      background-image: linear-gradient(180deg,
        rgba(30, 31, 32, 0) 0%,
        rgba(30, 31, 32, 0.7) 46.35%,
        #1E1F20 100%);
    }
  }

  &__snapshot {
    height: 622px;
    object-fit: cover;
  }

  @include breakpoints.mq($from: medium) {
    padding-block-start: 5.5em;
  }

  @include breakpoints.mq($from: large) {
    padding-inline: 2em;
    padding-block-end: 2.75em;

    &__gallery {

      &::after {
        content: none;
      }
    }

    &__snapshots {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 1.375em;
    }

    &__snapshot {
      height: 400px;

      &:nth-of-type(1n+5) {
        display: none;
      }

      &:nth-of-type(4) {
        filter: brightness(0.4);
      }
    }

    &__modal {
      position: absolute;
      right: calc(16% - 18px);
      bottom: calc(24% - 18px);
      z-index: 1;
      display: block;
      font-weight: 600;
      font-size: var(--fs-xxl);
      color: var(--clr-intro);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
      text-decoration-color: currentColor;
      transition: color var(--delay), text-decoration-color var(--delay);

      &:hover {
        color: var(--clr-content);
        text-decoration-color: transparent;
      }
    }
  }

  @include breakpoints.mq($from: x-large) {
    padding-inline: 0;
    padding-block-end: 4em;
    background-color: unset;

    &__content {
      position: relative;
      padding-inline-start: 10em;
      margin-block-end: 5.12em;
    }

    &__heading {
      margin-block-end: .65em;
    }

    &__line-break {
      display: block;
    }
  
    &__quotemarks {
      position: absolute;
      top: 2.25em;
      left: 7em;
      z-index: -1;
      display: block;
    }

    &__quote {
      padding-inline: 0;
      font-size: var(--fs-xl);
      letter-spacing: normal;
      color: var(--clr-content);
    }

    &__snapshots {
      gap: 1.25em;
      max-width: 1244px;
      margin-inline: auto;
    }

    &__snapshot {

      &:nth-of-type(1n+5) {
        display: block;
      }

      &:nth-of-type(1n+7) {
        display: none;
      }

      &:nth-of-type(4) {
        filter: none;
      }

      &:nth-of-type(6) {
        filter: brightness(0.4);
      }
    }

    &__modal {
      right: calc(15% - 40px);
      bottom: calc(20% + 10px);
    }
  }

  @include breakpoints.mq($from: xx-large) {

    &__content {
      padding-inline-start: 15.3em;
    }

    &__quotemarks {
      left: 12.5em;
    }

    &__modal {
      right: calc(18% - 22px);
    }
  }
}